In [12]:
import pandas as pd
df = pd.read_excel('20240103_인구.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df.head(2)
df[0:3]
df.tail()

df['0~4세']
df[df.columns[-1]]

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

행정기관
전국           1,307
서울특별시          276
부산광역시           72
대구광역시           25
인천광역시           82
광주광역시           18
대전광역시           28
울산광역시            4
세종특별자치시          6
경기도            379
강원도             67
충청북도            50
충청남도            58
전라북도            62
전라남도            60
경상북도            56
경상남도            53
제주특별자치도         11
Name: 100세 이상, dtype: object

In [14]:
df= pd.read_excel('20122022_출생.xlsx',skiprows=2)
df.head(4)

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,출생,출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186"
1,NaN,조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9
2,NaN,합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778
3,사망,사망자수(명),"267,221","266,257","267,692","275,895","280,827","285,534","298,820","295,110","304,948","317,680","372,939"