In [2]:
import pandas as pd
df = pd.read_csv('score.csv',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
8번    승근열  단지고  190  100   85   90  95  95          c#
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
6번    박동현  단지고  202   80  100   95  85  80           C
5번    김재욱  구로고  188   15   20   10  35  10         NaN
4번    김수찬  구로고  187   40   60   70  75  80         NaN
3번    강호림  구로고  168   80   75   70  80  75  javascript
2번    강태원  구로고  184   40   35   50  55  25        Java
1번    강나래  구로고  197   90   85  100  95  85      Python

In [3]:
#  모든 컬럼을 보여줌
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [4]:
# describe  :  통계 자료를 보여줌 -> int, float 타입의 개수, 최소값, 최대값, 표준편차 등
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [5]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [9]:
# 원하는 정보들을 함수로 지정하여 출력할 수 있음

df['키'].mean() # min(), count(), max(), std(), mean()

188.0

In [8]:
# NaN 의 개수는 count되지 않는다 -> 통계값이 부정확해지므로 처리를 하여 결정해야 함

df.count()

이름      8
학교      8
키       8
국어      8
영어      8
수학      8
과학      8
사회      8
SW특기    6
dtype: int64