In [12]:
import pandas as pd
df = pd.read_excel('20240103_인구.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df.head(2)
df[0:3]
df.tail()

df['0~4세']
df[df.columns[-1]]

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

행정기관
전국           1,307
서울특별시          276
부산광역시           72
대구광역시           25
인천광역시           82
광주광역시           18
대전광역시           28
울산광역시            4
세종특별자치시          6
경기도            379
강원도             67
충청북도            50
충청남도            58
전라북도            62
전라남도            60
경상북도            56
경상남도            53
제주특별자치도         11
Name: 100세 이상, dtype: object

In [14]:
df= pd.read_excel('20122022_출생.xlsx',skiprows=2)
df.head(4)

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,출생,출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186"
1,NaN,조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9
2,NaN,합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778
3,사망,사망자수(명),"267,221","266,257","267,692","275,895","280,827","285,534","298,820","295,110","304,948","317,680","372,939"

In [23]:
# index_col = 0  첫번째 컬럼을 index로 지정
# skiprows : 상단부분 제외
# nrows : rows 가져오기
# usecols : 특정컬럼부분 가져오기

In [26]:
df = pd.read_excel('20122022_출생.xlsx',skiprows=2,nrows=3,usecols='B:M',index_col=0)
df.index.name = '제목'
df.index         # Index(['출생아수(명)', '조출생률(인구1천명당 명)', '합계출산율(가임여성1명당 명)']
df.index.values  # array(['출생아수(명)', '조출생률(인구1천명당\xa0명)', '합계출산율(가임여성1명당\xa0명)'] <- 띄어쓰기표시가 들어가 있음

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

array(['출생아수(명)', '조출생률(인구1천명당\xa0명)', '합계출산율(가임여성1명당\xa0명)'],
      dtype=object)

In [28]:
df.loc['출생아수(명)']

2012    484,550
2013    436,455
2014    435,435
2015    438,420
2016    406,243
2017    357,771
2018    326,822
2019    302,676
2020    272,337
2021    260,562
2022    249,186
Name: 출생아수(명), dtype: object

In [29]:
df.columns

Index(['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022'],
      dtype='object')

In [30]:
# col의 모든 값들 출력
df['2012']

제목
출생아수(명)             484,550
조출생률(인구1천명당 명)          9.6
합계출산율(가임여성1명당 명)      1.297
Name: 2012, dtype: object

In [33]:
# row의 모든 값들 출력

2012    484,550
2013    436,455
2014    435,435
2015    438,420
2016    406,243
2017    357,771
2018    326,822
2019    302,676
2020    272,337
2021    260,562
2022    249,186
Name: 출생아수(명), dtype: object

In [34]:
# 합계출산율(가임여성1명당 명) -> error ; values 값을 써 주어야 함
df.loc['합계출산율(가임여성1명당\xa0명)']

2012    1.297
2013    1.187
2014    1.205
2015    1.239
2016    1.172
2017    1.052
2018    0.977
2019    0.918
2020    0.837
2021    0.808
2022    0.778
Name: 합계출산율(가임여성1명당 명), dtype: object

In [35]:
df.rename(index={'합계출산율(가임여성1명당\xa0명)':'합계출산율(가임여성1명당 명)'},inplace=True)

In [36]:
df.loc['합계출산율(가임여성1명당 명)']

2012    1.297
2013    1.187
2014    1.205
2015    1.239
2016    1.172
2017    1.052
2018    0.977
2019    0.918
2020    0.837
2021    0.808
2022    0.778
Name: 합계출산율(가임여성1명당 명), dtype: object

In [39]:
df.rename(index={'조출생률(인구1천명당\xa0명)':'조출생률(인구1천명당 명)'},inplace=True)

In [40]:
df.loc['조출생률(인구1천명당 명)']

2012    9.6
2013    8.6
2014    8.6
2015    8.6
2016    7.9
2017    7.0
2018    6.4
2019    5.9
2020    5.3
2021    5.1
2022    4.9
Name: 조출생률(인구1천명당 명), dtype: object

In [43]:
# rows, columns 축 변경

df = df.T
df

제목    출생아수(명) 조출생률(인구1천명당 명) 합계출산율(가임여성1명당 명)
2012  484,550            9.6            1.297
2013  436,455            8.6            1.187
2014  435,435            8.6            1.205
2015  438,420            8.6            1.239
2016  406,243            7.9            1.172
2017  357,771            7.0            1.052
2018  326,822            6.4            0.977
2019  302,676            5.9            0.918
2020  272,337            5.3            0.837
2021  260,562            5.1            0.808
2022  249,186            4.9            0.778