In [45]:
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import random

matplotlib.rcParams['axes.unicode_minus'] = False 
matplotlib.rcParams['font.family'] = 'Malgun Gothic'  # : windows 사용자용
matplotlib.rcParams['font.size'] = '10'

In [46]:
from sklearn import model_selection, svm, metrics
import pandas as pd

In [47]:
train_csv = pd.read_csv('../mnist/train.csv',header=None)
train_csv.head(2)
tk_csv = pd.read_csv('../mnist/t10k.csv')
tk_csv.head(2)

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_csv.iloc[0,230:240]

In [48]:
# 2진코드로 바꾸기
def test(arr):
    output = []
    for i in arr:
        output.append(float(i)/256)
    return output # 0<=i<1 형태로 변환

In [49]:
train_csv.iloc[:,1:]

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
len(train_csv.iloc[:,1:].values)

1001

In [54]:
# train, test 데이터를 생성

train_input = list(map(test,train_csv.iloc[:,1:].values)) # [[],[],....]
test_input = list(map(test,tk_csv.iloc[:,1:].values))

In [53]:
# target result 데이터를 생성
train_target = train_csv[0].values  # 각 리스트가 783개
test_target = tk_csv[0].values
len(train_target)
len(test_target) # 오타 없음, 틀린것 없음 ->  에러의 이유는? 수차례 다시 실행해도 test_target이 출력되지 않음. 따로 출력시 가능, 여기서부터 안됨 왜? 또 막았나 그런가보다

KeyError: 0

In [ ]:
train_csv.shape

In [ ]:
# # apply 
# def change(x):
#     return float(x)/256
# train_csv.iloc[0,1:] = train_csv.iloc[0,1:].apply(change)

# -----------------
# for i in range(train_csv.shape[0]):
#     train_csv.iloc[i,1:] = train_csv.iloc[i,1:].apply(lambda x:float(x)/256)
# train_csv.iloc[i,232]