In [69]:
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import random

matplotlib.rcParams['axes.unicode_minus'] = False 
matplotlib.rcParams['font.family'] = 'Malgun Gothic'  # : windows 사용자용
matplotlib.rcParams['font.size'] = '10'

In [70]:
df = pd.read_csv('../z20_data/iris.csv')
df.head(3)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [ ]:
# 1. 데이터 전처리 : train_data, test_data
# 2. 데이터 학습시키기
# 3. 데이터 예측하기
# 4. 정답률 구하기

In [7]:
df['Name']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [14]:
df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']].head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

### 1. 데이터전처리 - 위치값 리스트로 : iloc / loc

In [30]:
# 데이터 전처리 : train_data, test_data
# iloc
train_input = df.iloc[:100,:-1]
test_input = df.iloc[100:,:-1]
train_target = df.iloc[:100,4]
test_target = df.iloc[100:,4]


# loc
# train_input = rows 100개, 0~99까지의 4개 컬럼을 가진 데이터(결과컬럼인 'Name'을 제외)를 출력
# train_input = df[0:99][['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']]

# test_input = train_input을 제외하고 그 다음에 있는 데이터로 rows 50개 , 0~50까지의 4개 컬럼을 가진 데이터(결과컬럼인 'Name'을 제외)를 출력
# test_input = df[100:][['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']]

# train_target = name만 100개
# train_target = df[0:99]['Name']

# test_target = test_input을 제외하고 그 다음에 있는 데이터로 name만 50개
# test_target = df[100:]['Name']

### 2. 데이터 전처리 -  랜덤셔플 한 자료를 수동분리  : 파이썬/numpy 2가지 방법

##### Numpy로 데이터 랜덤셔플

In [ ]:
# random code 0~149 랜덤숫자를 생성
np.random.seed(150)

# 150개의 배열 생성
index = np.arange(150)

# index로 df에 대입해서 가져오면, 랜덤으로 데이터가 섞여서 가져올 수 있음
np.random.shuffle(index)
print(index)

In [49]:
# 데이터 전처리 - 랜덤으로 추출한 index로 수동분리 : train_data, test_data

# numpy
# train_input = df.iloc[index[:100],:-1]
# test_input = df.iloc[index[100:],:-1]
# train_target = df.iloc[index[:100],4]
# test_target = df.iloc[index[100:],4]

##### 파이썬으로 데이터 랜덤셔플

In [ ]:
# 파이썬 random 함수
ran_num = [i for i in range(150)]
random.shuffle(ran_num)
ran_num

In [ ]:
# 데이터 전처리 - 랜덤으로 추출한 index로 수동분리 : train_data, test_data

# numpy
# train_input = df.iloc[ran_num[:100],:-1]
# test_input = df.iloc[ran_num[100:],:-1]
# train_target = df.iloc[ran_num[:100],4]
# test_target = df.iloc[ran_num[100:],4]

### 3. 데이터 전처리 - 자동 랜덤,분리 함수 : train_test_split

In [71]:
# 데이터 전처리 - data, result 데이터분리
datas_input = df.iloc[:,:-1]
datas_target = df.iloc[:,4]

# 모든 data를 가지고 train, test 데이터 분리
# train, test를 자동분리 해 줌
train_input,test_input, train_target, test_target = train_test_split(datas_input,datas_target)

## 데이터 전처리 후 학습/예측/정답률

In [72]:
# 2. 데이터 학습시키기 - 모델 선정 후 데이터 훈련
clf = svm.SVC()
# 데이터훈련
clf.fit(train_input,train_target)

# 3. 데이터 예측하기
result = clf.predict(test_input)

# 4. 정답률 구하기
# score = metrics.accuracy_score(test_target,result)
score  = clf.score(test_input,test_target)
print("정답률 :", score)

정답률 : 0.9736842105263158