### Series 1차원 배열

In [5]:
import pandas as pd

In [2]:
temp = pd.Series([-20,-10,10,20])

In [3]:
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [11]:
import  pandas as pd

In [3]:
list1 = [-20,-10,0,10,20]

In [6]:
ser = pd.Series(list1)

In [7]:
list1

[-20, -10, 0, 10, 20]

In [8]:
ser

0   -20
1   -10
2     0
3    10
4    20
dtype: int64

In [9]:
list1[0]

-20

### Series index 설정

In [10]:
ser = pd.Series(list1,index=['Jan','Feb','Mar','Apr','May'])

In [11]:
ser

Jan   -20
Feb   -10
Mar     0
Apr    10
May    20
dtype: int64

In [18]:
ser['Jan']

-20