### Series 1차원 배열

In [1]:
import pandas as pd

In [2]:
temp = pd.Series([-20,-10,10,20])

In [3]:
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [11]:
import  pandas as pd

In [12]:
list1 = [-20,-10,0,10,20]

In [13]:
ser = pd.Series(list1)

In [14]:
list1

[-20, -10, 0, 10, 20]

In [15]:
ser

0   -20
1   -10
2     0
3    10
4    20
dtype: int64

In [16]:
list1[0]

-20

### Series index 설정

In [17]:
ser = pd.Series(list1,index=['Jan','Feb','Mar','Apr','May'])

In [18]:
ser['Jan']

-20