In [1]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd


# 한글설정
matplotlib.rcParams['axes.unicode_minus'] = False 
matplotlib.rcParams['font.family'] = 'Malgun Gothic'  # : windows 사용자용
matplotlib.rcParams['font.size'] = '15'

In [6]:
import pandas as pd
df = pd.read_excel('../z20_data/20230104_연령별인구현황2.xlsx',skiprows=3,index_col='행정기관',usecols=('B,E:Y'))
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,052,227","2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"338,380","343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276
부산광역시,"41,333","63,912","68,919","67,836","93,245","109,745","103,536","99,530","127,544","121,660",...,"126,702","143,246","119,500","83,807","55,948","36,851","13,453","3,103",420,72
대구광역시,"31,269","49,000","55,029","57,661","74,228","81,001","76,198","71,455","87,860","91,327",...,"96,673","96,632","71,324","49,675","31,508","23,021","9,435","2,197",299,25
인천광역시,"43,664","63,028","70,593","69,580","86,548","108,831","107,658","102,829","126,090","121,064",...,"121,717","124,470","84,563","52,236","35,223","22,843","9,444","2,410",482,82
광주광역시,"21,506","32,852","38,227","39,769","49,779","53,357","45,743","45,152","57,116","58,456",...,"54,650","50,054","34,957","25,074","17,659","12,507","4,907","1,221",180,18
대전광역시,"21,241","31,032","35,302","37,083","48,557","57,944","51,617","47,195","55,541","57,113",...,"54,364","55,215","40,788","26,427","17,354","12,297","5,151","1,344",205,28
울산광역시,"16,646","26,693","29,418","28,366","33,283","39,507","37,536","37,213","47,828","45,102",...,"51,149","49,294","33,444","20,751","11,651","7,068","2,406",566,72,4
세종특별자치시,"9,524","13,733","14,079","10,808","9,307","10,329","13,538","16,303","20,299","18,098",...,"11,134","10,497","7,464","4,657","2,763","2,000",913,230,40,6
경기도,"216,863","313,113","345,546","335,021","411,620","501,356","491,074","485,448","590,936","571,769",...,"537,189","521,204","356,812","219,043","153,879","106,802","45,597","11,973","2,020",379
강원도,"20,663","28,244","33,186","35,219","46,654","48,339","43,021","41,832","52,647","57,135",...,"65,868","74,871","59,684","35,256","28,108","20,902","8,649","2,159",472,67
충청북도,"22,631","32,948","37,693","37,809","47,397","57,064","51,561","49,894","60,047","61,976",...,"67,045","72,702","54,810","34,167","23,398","17,998","8,095","1,908",328,50
충청남도,"31,138","46,381","53,256","51,596","60,532","67,469","66,486","70,151","87,472","86,432",...,"85,589","91,701","67,960","48,258","33,015","25,781","13,262","3,553",568,58
전라북도,"21,236","34,769","42,410","44,115","54,218","53,042","44,965","46,154","61,000","68,586",...,"74,309","77,740","60,703","44,697","31,975","24,526","11,227","2,972",464,62
전라남도,"23,539","34,785","41,325","41,816","51,858","51,905","43,572","46,628","62,839","68,646",...,"83,843","86,322","64,278","50,227","35,492","28,495","11,601","3,186",485,60
경상북도,"33,538","50,669","57,538","58,036","72,082","75,729","70,663","73,213","93,825","97,876",...,"115,155","125,814","98,898","70,342","44,053","34,935","15,550","3,924",597,56
경상남도,"44,066","73,112","84,029","81,884","93,886","96,408","91,363","98,508","132,630","133,558",...,"139,975","148,200","109,447","73,308","45,837","31,710","13,579","3,300",475,53
제주특별자치도,"10,989","16,953","18,838","17,925","19,947","21,166","19,331","20,608","27,661","28,797",...,"28,485","25,858","18,587","12,291","9,298","6,331","2,946",723,70,11

In [7]:
for i in range(len(df)):
    df.iloc[i] = df.iloc[i].str.replace(',','').astype(int)
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,2052227,2097254,1554976,1038388,713448,507915,212726,54180,8880,1307
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,338380,343434,271757,188172,136287,93848,36511,9411,1703,276
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,126702,143246,119500,83807,55948,36851,13453,3103,420,72
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,96673,96632,71324,49675,31508,23021,9435,2197,299,25
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,121717,124470,84563,52236,35223,22843,9444,2410,482,82
광주광역시,21506,32852,38227,39769,49779,53357,45743,45152,57116,58456,...,54650,50054,34957,25074,17659,12507,4907,1221,180,18
대전광역시,21241,31032,35302,37083,48557,57944,51617,47195,55541,57113,...,54364,55215,40788,26427,17354,12297,5151,1344,205,28
울산광역시,16646,26693,29418,28366,33283,39507,37536,37213,47828,45102,...,51149,49294,33444,20751,11651,7068,2406,566,72,4
세종특별자치시,9524,13733,14079,10808,9307,10329,13538,16303,20299,18098,...,11134,10497,7464,4657,2763,2000,913,230,40,6
경기도,216863,313113,345546,335021,411620,501356,491074,485448,590936,571769,...,537189,521204,356812,219043,153879,106802,45597,11973,2020,379
강원도,20663,28244,33186,35219,46654,48339,43021,41832,52647,57135,...,65868,74871,59684,35256,28108,20902,8649,2159,472,67
충청북도,22631,32948,37693,37809,47397,57064,51561,49894,60047,61976,...,67045,72702,54810,34167,23398,17998,8095,1908,328,50
충청남도,31138,46381,53256,51596,60532,67469,66486,70151,87472,86432,...,85589,91701,67960,48258,33015,25781,13262,3553,568,58
전라북도,21236,34769,42410,44115,54218,53042,44965,46154,61000,68586,...,74309,77740,60703,44697,31975,24526,11227,2972,464,62
전라남도,23539,34785,41325,41816,51858,51905,43572,46628,62839,68646,...,83843,86322,64278,50227,35492,28495,11601,3186,485,60
경상북도,33538,50669,57538,58036,72082,75729,70663,73213,93825,97876,...,115155,125814,98898,70342,44053,34935,15550,3924,597,56
경상남도,44066,73112,84029,81884,93886,96408,91363,98508,132630,133558,...,139975,148200,109447,73308,45837,31710,13579,3300,475,53
제주특별자치도,10989,16953,18838,17925,19947,21166,19331,20608,27661,28797,...,28485,25858,18587,12291,9298,6331,2946,723,70,11

In [8]:
df['0~14세'] = 0
df['15~64세'] = 0
df['65세 이상'] = 0
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,0~14세,15~64세,65세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,1038388,713448,507915,212726,54180,8880,1307,0,0,0
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,188172,136287,93848,36511,9411,1703,276,0,0,0
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,83807,55948,36851,13453,3103,420,72,0,0,0
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,49675,31508,23021,9435,2197,299,25,0,0,0
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,52236,35223,22843,9444,2410,482,82,0,0,0
광주광역시,21506,32852,38227,39769,49779,53357,45743,45152,57116,58456,...,25074,17659,12507,4907,1221,180,18,0,0,0
대전광역시,21241,31032,35302,37083,48557,57944,51617,47195,55541,57113,...,26427,17354,12297,5151,1344,205,28,0,0,0
울산광역시,16646,26693,29418,28366,33283,39507,37536,37213,47828,45102,...,20751,11651,7068,2406,566,72,4,0,0,0
세종특별자치시,9524,13733,14079,10808,9307,10329,13538,16303,20299,18098,...,4657,2763,2000,913,230,40,6,0,0,0
경기도,216863,313113,345546,335021,411620,501356,491074,485448,590936,571769,...,219043,153879,106802,45597,11973,2020,379,0,0,0
강원도,20663,28244,33186,35219,46654,48339,43021,41832,52647,57135,...,35256,28108,20902,8649,2159,472,67,0,0,0
충청북도,22631,32948,37693,37809,47397,57064,51561,49894,60047,61976,...,34167,23398,17998,8095,1908,328,50,0,0,0
충청남도,31138,46381,53256,51596,60532,67469,66486,70151,87472,86432,...,48258,33015,25781,13262,3553,568,58,0,0,0
전라북도,21236,34769,42410,44115,54218,53042,44965,46154,61000,68586,...,44697,31975,24526,11227,2972,464,62,0,0,0
전라남도,23539,34785,41325,41816,51858,51905,43572,46628,62839,68646,...,50227,35492,28495,11601,3186,485,60,0,0,0
경상북도,33538,50669,57538,58036,72082,75729,70663,73213,93825,97876,...,70342,44053,34935,15550,3924,597,56,0,0,0
경상남도,44066,73112,84029,81884,93886,96408,91363,98508,132630,133558,...,73308,45837,31710,13579,3300,475,53,0,0,0
제주특별자치도,10989,16953,18838,17925,19947,21166,19331,20608,27661,28797,...,12291,9298,6331,2946,723,70,11,0,0,0

In [9]:
for i in range(len(df)):
    df.iloc[i,-3] = df.iloc[i,0]+df.iloc[i,1]+df.iloc[i,2]
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,0~14세,15~64세,65세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,1038388,713448,507915,212726,54180,8880,1307,3010190,0,0
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,188172,136287,93848,36511,9411,1703,276,463732,0,0
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,83807,55948,36851,13453,3103,420,72,174164,0,0
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,49675,31508,23021,9435,2197,299,25,135298,0,0
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,52236,35223,22843,9444,2410,482,82,177285,0,0
광주광역시,21506,32852,38227,39769,49779,53357,45743,45152,57116,58456,...,25074,17659,12507,4907,1221,180,18,92585,0,0
대전광역시,21241,31032,35302,37083,48557,57944,51617,47195,55541,57113,...,26427,17354,12297,5151,1344,205,28,87575,0,0
울산광역시,16646,26693,29418,28366,33283,39507,37536,37213,47828,45102,...,20751,11651,7068,2406,566,72,4,72757,0,0
세종특별자치시,9524,13733,14079,10808,9307,10329,13538,16303,20299,18098,...,4657,2763,2000,913,230,40,6,37336,0,0
경기도,216863,313113,345546,335021,411620,501356,491074,485448,590936,571769,...,219043,153879,106802,45597,11973,2020,379,875522,0,0
강원도,20663,28244,33186,35219,46654,48339,43021,41832,52647,57135,...,35256,28108,20902,8649,2159,472,67,82093,0,0
충청북도,22631,32948,37693,37809,47397,57064,51561,49894,60047,61976,...,34167,23398,17998,8095,1908,328,50,93272,0,0
충청남도,31138,46381,53256,51596,60532,67469,66486,70151,87472,86432,...,48258,33015,25781,13262,3553,568,58,130775,0,0
전라북도,21236,34769,42410,44115,54218,53042,44965,46154,61000,68586,...,44697,31975,24526,11227,2972,464,62,98415,0,0
전라남도,23539,34785,41325,41816,51858,51905,43572,46628,62839,68646,...,50227,35492,28495,11601,3186,485,60,99649,0,0
경상북도,33538,50669,57538,58036,72082,75729,70663,73213,93825,97876,...,70342,44053,34935,15550,3924,597,56,141745,0,0
경상남도,44066,73112,84029,81884,93886,96408,91363,98508,132630,133558,...,73308,45837,31710,13579,3300,475,53,201207,0,0
제주특별자치도,10989,16953,18838,17925,19947,21166,19331,20608,27661,28797,...,12291,9298,6331,2946,723,70,11,46780,0,0

In [12]:
sum= 0
for i in range(len(df)):
    
    for j in range(3,13):
        sum += df.iloc[i,j]
        
df.iloc[i,-2] = sum
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,0~14세,15~64세,65세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,1038388,713448,507915,212726,54180,8880,1307,3010190,18529528,0
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,188172,136287,93848,36511,9411,1703,276,463732,0,0
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,83807,55948,36851,13453,3103,420,72,174164,0,0
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,49675,31508,23021,9435,2197,299,25,135298,0,0
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,52236,35223,22843,9444,2410,482,82,177285,0,0
광주광역시,21506,32852,38227,39769,49779,53357,45743,45152,57116,58456,...,25074,17659,12507,4907,1221,180,18,92585,0,0
대전광역시,21241,31032,35302,37083,48557,57944,51617,47195,55541,57113,...,26427,17354,12297,5151,1344,205,28,87575,0,0
울산광역시,16646,26693,29418,28366,33283,39507,37536,37213,47828,45102,...,20751,11651,7068,2406,566,72,4,72757,0,0
세종특별자치시,9524,13733,14079,10808,9307,10329,13538,16303,20299,18098,...,4657,2763,2000,913,230,40,6,37336,0,0
경기도,216863,313113,345546,335021,411620,501356,491074,485448,590936,571769,...,219043,153879,106802,45597,11973,2020,379,875522,0,0
강원도,20663,28244,33186,35219,46654,48339,43021,41832,52647,57135,...,35256,28108,20902,8649,2159,472,67,82093,0,0
충청북도,22631,32948,37693,37809,47397,57064,51561,49894,60047,61976,...,34167,23398,17998,8095,1908,328,50,93272,0,0
충청남도,31138,46381,53256,51596,60532,67469,66486,70151,87472,86432,...,48258,33015,25781,13262,3553,568,58,130775,0,0
전라북도,21236,34769,42410,44115,54218,53042,44965,46154,61000,68586,...,44697,31975,24526,11227,2972,464,62,98415,0,0
전라남도,23539,34785,41325,41816,51858,51905,43572,46628,62839,68646,...,50227,35492,28495,11601,3186,485,60,99649,0,0
경상북도,33538,50669,57538,58036,72082,75729,70663,73213,93825,97876,...,70342,44053,34935,15550,3924,597,56,141745,0,0
경상남도,44066,73112,84029,81884,93886,96408,91363,98508,132630,133558,...,73308,45837,31710,13579,3300,475,53,201207,0,0
제주특별자치도,10989,16953,18838,17925,19947,21166,19331,20608,27661,28797,...,12291,9298,6331,2946,723,70,11,46780,37059056,0