### 오라클 연결해서 데이터를 pandas로 변환

In [11]:
import oracledb

conn = oracledb.connect(user='ora_user', password='1111', dsn = 'localhost:1521/xe')
print(conn.version)

# cursor = conn.cursor()
import pandas as pd
query = 'select*from board'
#  select 데이터가 df타입으로 변경되어 가지고 옴.
df = pd.read_sql_query(query,conn)
df

18.0.0.0.0

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_2940\171917429.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,conn)

,BNO,ID,BTITLE,BCONTENT,DBDATE,BGROUP,BSTEP,BINDENT,BHIT,BFILE
0,5,aaa,제목입니다.,내용입니다,2024-04-29 14:53:38,5,0,0,1,None
1,6,bbb,제목입니다2.,내용입니다2,2024-04-29 14:53:38,6,0,0,1,None
2,7,aaa,제목입니다.3,내용입니다3,2024-04-29 14:53:38,7,0,0,1,None
3,1,aaa,제목입니다.,내용입니다,2024-04-29 13:54:10,1,0,0,1,None
4,2,bbb,제목입니다2.,내용입니다2,2024-04-29 13:54:14,2,0,0,1,None
5,4,aaa,제목입니다.3,내용입니다3,2024-04-29 13:54:49,4,0,0,1,None

In [ ]:
conn.close()